.netVision-setting {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;

  * {
    pointer-events: auto;
  }

  &__btn {
    position: absolute;
    top: 20px;
    right: 20px;
  }
}